---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ProjectList from '../../components/ProjectList.astro';
import { projects } from './directory';

---

<BaseLayout
	title="All My Projects"
	description="All my project portfolio from real projects to open source projects."
>
  <div class='container'>
    <div class="mb-10">
      <h1>Directory</h1>
      <p class="text-zinc-700 dark:text-zinc-300 text-lg">All the folks who have joined MYLK.</p>
    </div>
    <ProjectList projects={projects}/>
  </div>
</BaseLayout>
