@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	pre,
	code {
		font-size: 0.875rem;
	}
}
:root {
	--accent: #ecc302;}

:root.dark {
	--accent: #fb4451;}


@font-face {
	font-family: 'Blocus';
	src: url(../assets/fonts/blocus.woff);
}

@font-face {
	font-family: 'Souvenir';
	src: url(../assets/fonts/Souvenir.ttf);
}

body {
	font-family: 'Souvenir', 'Times New Roman', Times, serif;}

h1, h2 {
font-family: 'Blocus', 'Courier New', Courier, monospace;
}

h1 {text-align: center;
	font-size: clamp(5rem, 10vw, 10rem);
margin-bottom: clamp(2rem, 5vw, 10rem);
margin-top: clamp(2rem, 5vw, 10rem);
font-weight: bold;}

a {
	color: var(--accent);}

a:hover {
	opacity:0.9;}

a[href^="https://"]::after
	{
	background-color: currentColor;
	content: "";
	display: inline-block;
	width: 0.6em;
	height: 0.6em;
	margin-left: 0.2em;
	position: relative;
	bottom:5px;
	-webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath fill='currentColor' d='M7 3v2H2v11h11v-5h2v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h6Zm11-3v8h-2V3.413l-7.793 7.794-1.414-1.414L14.585 2H10V0h8Z'/%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath fill='currentColor' d='M7 3v2H2v11h11v-5h2v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h6Zm11-3v8h-2V3.413l-7.793 7.794-1.414-1.414L14.585 2H10V0h8Z'/%3E%3C/svg%3E");
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	mask-position: center;
}
