---
import { SITE_TITLE, SITE_TAGLINE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import Ava from '../assets/img/ava.png';
import Prose from '../components/Prose.astro';
import { projects } from './directory/directory';
import ProjectList from '../components/ProjectList.astro'
import PostItem from '../components/PostItem.astro';

type BlogPost = CollectionEntry<'blog'>;

const top6Projects = projects.slice(0, 6);
const posts = (await getCollection('blog')).sort((a: BlogPost, b: BlogPost) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()).slice(0, 5);
---

<BaseLayout title={SITE_TITLE + ' - ' + SITE_TAGLINE} description={SITE_DESCRIPTION}>
	<div class='container'>
		<div class='w-full md:flex md:items-center gap-16 mb-10'>
      <div class="text-pretty leading-9">
        <h1>mylk directory</h1>
        <Prose>
          <div class="text-lg">
            <h2>What is mylk?</h2>
              <p>MYLK is a directory/web listing for fans of rock, metal, punk, and goth music.
                
              <p>The definition I'm using for rock and metal is intentionally broad.  Foundational genres like blues, jazz, etc are fine, adjacent genres from shoegaze to emo are fine.  Nothing is too cringe or obscure or mainstream.  If you're a fan of Backstreet Boys or BTS or whatever that's cool too, as long as you like rock n' roll too.

              <h2>Why mylk?</h2>
              I want fans and artists who like heavier genres of music to find and connect with each other.  I also want to run a yearly digital zine where we can show off our creativity with writing, fiction, art, and so forth.
              
          </div>
        </Prose>
      </div>
      <Image src={Ava} alt="milk" width={300} loading="eager" class="mx-4 md:mx-0"/>
		</div>
		<main>

        <div class="flex justify-between gap-2 mb-1">
          <h2 class="text-lg font-bold mb-3">Recently listed:</h2>
          <a href="/projects/" class="inline-block py-2 underline dark:prose-invert">Full Directory &raquo;</a>
        </div>
        <ProjectList projects={top6Projects}/>
      </div>
		</main>
	</div>
</BaseLayout>
